div.header,div.footer {
  text-align: right;
  color: #ffe500;
  padding: 1em;
  font-family: Arial;
  background-color: black;
}

div.header a {
  text-decoration:none;
  color: #ffe500;
}

section {
  float: left;
  width: 70%;
}

div.navigate {
  float: right;
  width: 25%;
}

h1 {
  font: 175% bold; 
  padding: 0.25em;
  font-family: Arial;
  color: #ffe500;
  background-color: black;
}

h2 {
  font: 125% bold; 
  padding: 0.25em;
  font-family: Arial;
  color: #ffe500;
  background-color: black;
}

h3 {
  font: 100%; 
  padding: 0.25em;
  font-family: Arial;
  color: #ffe500;
  background-color: black;
}

a {
  text-decoration: none; 
  color: #115500; 
}

