div.container {
  width:100%;
  margin:0px;
}

div.header,div.footer {
  text-align: right;
  color: #ffe500;
  padding: 1em;
  font-family: Arial;
  background-color: black;
}

div.header a {
  text-decoration:none;
  color: #ffe500;
}

div.navigate {
  float:left;
  width:17%;
  font: 75%;
  color: black;
  border-right: 1px solid black;
  padding-left: 5px;
}

div.content {
  padding-left: 24%;
}

div.navigate p {
 adding-left: 0.1em;
 padding-right: 8%;
}

div.navigate a {
  display: block;
  text-decoration: none;
  color: black;
 padding-right: 8%;
}

div.navigate a:hover {
  background-color: black;
  color: #ffe500;
}

div.navigate ul.none {
  color: black;
  list-style-type: none;
  padding-left: 0.25em;
}

div.navigate ul.circle {
  color: black;
  list-style-type: none;
  padding-left: 0.25em;
}

div.navigate h3 {
  width: 101%;
  color: #ffe500;
  padding: 0.25em;
  background-color: black;
  font: 125% bold;
  font-family: Arial;
  text-align: right;
}

h1 {
  font: 175% bold; 
  padding: 0.25em;
  font-family: Arial;
  color: #ffe500;
  background-color: black;
}

h2 {
  font: 125% bold; 
  padding: 0.25em;
  font-family: Arial;
  color: #ffe500;
  background-color: black;
}

h3 {
  text-align: right;
  font: 100%; 
  padding: 0.25em;
  font-family: Arial;
  color: #ffe500;
  background-color: black;
}

a {
  text-decoration: none; 
  color: #115500; 
}

